# systemd unit file for the doorbell Discord bot
[Unit]
Description=GlasgowHackerspace doorbell bot
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/ding/doorbell
User=ding
ExecStart=/home/ding/doorbell/.venv/bin/python3 /home/ding/doorbell/main.py
# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1
# Send SIGINT rather than SIGTERM to more gracefully shutdown the process
KillSignal=SIGINT

# Automatically restart the service if it crashes
Restart=on-failure
# Unit may only be (re)started a max of 5 times in 30 seconds
StartLimitIntervalSec=30
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
