---
- name: GlasHack doorbell pi setup
  hosts: doorbell
  become: true
  vars:
    lib_path: /home/ding
    git_branch: main

  pre_tasks:
    - name: Upgrade apt packages.
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
        name: "*"
        state: latest
      become: true


  tasks:
#    - name: Create 'ding' user.
#      user:
#        name: ding
#        groups: gpio, spi

    - name: Instal required apt packages.
      apt:
        name: "{{ item }}"
        state: latest
      loop:
        - swig
        - python3-dev
        - python3-setuptools
        - git

    - name: Download and extract gpio libraries.
      unarchive:
        remote_src: yes
        src: "{{ item.src }}"
        dest: "{{ lib_path }}"
        creates: "{{ lib_path}}/{{ item.creates }}"
      loop:
        - src: "https://github.com/joan2937/lg/archive/master.zip"
          creates: "lg-master"
        - src: "https://github.com/joan2937/pigpio/archive/master.zip"
          creates: "pigpio-master"

    - name: Build the gpio libraries.
      community.general.make:
        chdir: "{{ item }}"
      loop:
        - "{{ lib_path }}/lg-master"
        - "{{ lib_path }}/pigpio-master"
      register: build_libs

    - name: Install the gpio libraries.
      community.general.make:
        chdir: "{{ item }}"
        target: install
      become: true
      loop:
        - "{{ lib_path }}/lg-master"
        - "{{ lib_path }}/pigpio-master"
      when: build_libs.changed

    - name: Copy patched pigpiod.service file.
      copy:
        src: ../pigpiod.service
        dest: /etc/systemd/system/pigpiod.service
        mode: u+rwx,g+rx,o+rx
      become: true

    - name: Enable and start pigpiod service.
      systemd_service:
        name: pigpiod
        state: started
        enabled: true
        daemon_reload: true
      become: true

    - name: Clone the glasgowhackerspace/doorbell repo.
      git:
        repo: 'https://github.com/glasgowhackerspace/doorbell.git'
        version: "{{ git_branch }}"
        dest: "{{ lib_path }}/doorbell"
      become_user: ding

    - name: Install python requirements.
      pip:
        chdir: /home/ding/doorbell
        requirements: requirements.txt
        virtualenv: .venv
        virtualenv_command: "python3 -m venv"
      become_user: ding

    - name: Copy .env file to the host.
      copy:
        src: ../.env
        dest: /home/ding/doorbell/.env
        owner: ding
        group: ding
        mode: u=rw,g=rw,o=

    - name: Symlink doorbell_bot.service to '/etc/systemd/system/'.
      file:
        src: /home/ding/doorbell/doorbell_bot.service
        dest: /etc/systemd/system/doorbell_bot.service
        owner: root
        group: root
        state: link
      notify: restart doorbell service

    - name: Enable and start doorbell_bot service.
      systemd_service:
        name: doorbell_bot
        state: started
        enabled: true
        daemon_reload: true

    - name: Add gpio-shutdown to boot config.txt.
      lineinfile:
        path: /boot/firmware/config.txt
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      loop:
        - regexp: "^dtoverlay=gpio-shutdown"
          line: "dtoverlay=gpio-shutdown"
        - regexp: "^dtparam=spi=on"
          line: "dtparam=spi=on"
      notify: reboot pi


  handlers:
    - name: reboot pi
      reboot:

    - name: restart doorbell service
      systemd_service:
        name: doorbell_bot
        state: restarted
        daemon_reload: true
